@model IEnumerable<Lab1_WOMU.Models.Produkt>

@{
    ViewBag.Title = "Produkter";
}

<h2>Produkter</h2>

<table style="width:50%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProduktNamn)
        </th>
        <th>
            Pris (exkl. moms)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ProduktNamn, "Details", new { id = item.ProduktID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pris)
        </td>
        <td>
            @Html.ActionLink("Köp", "BuyPage", new { id = item.ProduktID })
        </td>
    </tr>
}

</table>
