
@{
    ViewBag.Title = "About";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h3>adlkghsfjbgvsdkfhkjsdbfh</h3>
</body>
</html>