@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Start Sida";
}


<h2>Order koll</h2>


@using (Html.BeginForm("OrderKoll", "Order", FormMethod.Get))
{
<p>
    <a href="~/Views/Home/Index.cshtml"></a>
    OrderID: @Html.TextBox("SearchString") <br />
    <input type="submit" value="Sök" />
</p>
}