@model IEnumerable<Lab1_WOMU.Models.Order>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}


<h2>Order koll</h2>

<p>

    @using (Html.BeginForm())
    {
    <p>
        OrderID: @Html.TextBox("SearchString") <br />
        <input type="submit" value="search" />
    </p>
    }
    </p>