@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Start Sida";
}


<h2>Order koll</h2>

<p>

    @using (Html.BeginForm("OrderKoll", "Produkt", FormMethod.Get))
   {
    <p>
        <a href="~/Views/Home/Index.cshtml"></a>
        OrderID: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Sök" />
    </p>
    }
    </p>